@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700;900&display=swap");
/*
  primary bg color: #A9DDD6
*/

* {
  /* reset the browser default css styles in the next 3 lines */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* choose your font-family */
  font-family: "Poppins", "Courier New", Courier, monospace;
  /* setup color variables for css */
  --bg-primary: black; /* invoke --> var(--bg-primary)*/
  --bg-secondary: #b07156;
  --font-color-primary: black;
  --font-color-secondary: #b0aeae;
  --backup-color: #de6b48;
}

body {
  height: 100vh;
  background: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 500px;
  width: 800px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
}

main img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.imagediv {
  width: 200px;
  object-fit: fill;
  width: 50%;
  height: 500px;
}

.productinfo {
  padding: 20px;
  width: 50%;
  height: 500px;
}

.productinfo h1 {
  font-size: 32px;
}

.productinfo h3 {
  margin-top: 15px;
  font-size: 18px;
  color: var(--font-color-secondary);
}

.productdescription {
  margin-top: 20px;
  padding-left: 50px;
  font-size: 14px;
}

.availablecolors {
  margin-top: 20px;
  padding: 20px 20px 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.availablecolors p {
  font-size: 14px;
}

.purchaseinfo {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.purchaseinfo p {
  font-size: 32px;
  font-weight: 700;
}

button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 15px;
  color: white;
  background: black;
  cursor: pointer;
}

.icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: pink;
}

#blackicon {
  background: black;
}

#redicon {
  background: red;
}

#grayicon {
  background: beige;
}
